<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247075017882-vj3ic15f3ii69uhbm27re5tmchigumds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247075017882-vj3ic15f3ii69uhbm27re5tmchigumds</string>
	<key>API_KEY</key>
	<string>AIzaSyDeFvukMW7aoM1Xj8X9SV3n2d_FJDBDuMo</string>
	<key>GCM_SENDER_ID</key>
	<string>247075017882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.janzetocake</string>
	<key>PROJECT_ID</key>
	<string>janzeto-bakery-95417</string>
	<key>STORAGE_BUCKET</key>
	<string>janzeto-bakery-95417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247075017882:ios:ae5af1285d9b06e3867b23</string>
</dict>
</plist>